/* --------------------------------------------------------------------------------------------- */

/*................,**,..............................,,.,.,,,,..,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
..................,**,.................,,,,,,,,,,,*************,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
..................,**,..........,,,,,,,,,,,,,,************************,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
..........,,,......,,,......,,,,,,,,,,,,,,,*******************************,,,,,,,,,,,,,,,,,,,,,,,,,,
......,.,,,,,,,,,,,.,....,,,,,,,,,,,,,,,,********,**************************,,,,,,,,,,,,,,,,,,,,,,,,
......,,,,,,,,,,,,,,,.,,,,,,,,,,,,,,,,,**********,*****************************,,,,,,,,,,,,,,,,,,,,,
.....,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,***(#%&%#(**,******************************,,,,,,,,,,,,,,,,,,,*
.....,,,,,,,,,,,,,,.,,,,,,,,,,,,,,,***\&&&&&&&&&&**********,*********************,,,,,,,,,,,,,,,,,**
.....,,.,,,,,,,,,,,,,,,,,,,,,,,,,,(&&&&&&@@&@@&&&***********,**********************,,,,,,,,,,,,,,*,,
.........,,.....,,,,,.,,,,,,,,,,(&&&&&&&@@&@@&&&&**,***********,********************,,,,,,,,,,,,*,,,
................,,,,,,,,,,,,,,,(&&&&&&&&@@&@@@@&&&/#*********%*#******************,*,,,,,,,,,,**,,,,
...............,.,,,,,,,,,,,,,*&&&&&&&&(@&@@@@@@@&//%******************%*************,,,,,,,,**,,,,,
.................,,,,,,,,,,,,**&&&&&&&@&@&#&@@@@@@@/@#////////%%/////**&/*%********,*,,,,,,,**,,,,,,
..............,.,,,,,,,,,,,,*%&&&&&&&&&&@&&&((@@@@@@@@@@@@@@@@@@@@@&#*(@//*%*******,*,,,,,,**,,,,,*,
..............,.,,,,,,,,,,,,&&&&&&&&&&&&&&&%####&%&@@@@@@@@@@&@@%*%@@@@@@&#/*******,,,,,,,*,,,,,**,,
..............,.,,,,,,,,,,*&&&&&&&&%(,,,,,,*****%@@@@@@@@@@@@%##%&@@@@@@@@@@&*,,,,,,,,,,,*,,,,,*,/*,
.............,,.,,,,,,,,,,**&&&&&&@@@/*%/////*@@@@@@@@@@@@@@@@@/******%/(##&&/,,,,,,,,,,*,,,,,,**,,,
.............,,,,,,,,,,,,*%&&&&&&&&&@&/******@@@@@@@@@@@@@@@@@@#/////*@@@@@&/*,,,,,,,,,*,,,,,*******
##/..........,,,,,,,,,,,*&&&&&&&@@&@@&@@@@@@@@@@@@@@@@%%%&@@@@@@@@&&&@@@@@@@**,,,,,,,/*,,,,*********
%###(........,,,,((((,,,**&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@%@@@@@@@@@@@@@@@@@**,,,,,,**,,,,**********
%%%####......,,,((((/(#%&*#&&&@&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@**,,,,,**,,,*,**********
%%%%%###,....,,,(((*###&&&&&&&@&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@**,,,,*,,,,,************
%%%%%%%##(...,,,,((/##&&&&&&&&@&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&/*,,*,,,,,,*************
%%%%%%%%%#(..,,,,*((###&&&&&&&@&@@@@@@@@@@@@@@@@@@&&@&(&@@@@@@@@@@@@@@@@@@@/**,,,,,,,,,*************
%%%%%%%%%%#(.,,,,,,/(#&&&&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%***,,,,,,,,**************
%%%%%%%%%%%#,,,,,,.,,,%&&&&&&&&&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&@(/***,,,,,,,,**************
/%%%%%%%%%##,,,,,,,,,,,,,,,,,,,,,,&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&(/*****,,,,,,,***************
%(%%%%%%%%##,,,,,,,,,,,,,,,,,,,,,,,,,(&&@@@@@@@@@@@@@@@@@@@@@@@@@&&&/,********,,,,,,,********%*****,
%%%%%%%%%%%#,,,,.,,,,,,,,,,,,,,,,,,,,,,,####%&@@@@@@@@@@@@@&&&&#,,,,,,********,,,,,,,******%/////*%/
%%/%%%%%%%%#,,,.,,,,,,,,,,,,,.,,,,,,,,,,(##############/,,,,,,,,,,,,,,********,,,,,,,,,,,,,*********
%%%(%%%%%%##,,,.,,,,,,,,,,,,,,,,,,,,,,(((##############,,,,,,,,,,,,,,,********,,,,,,****************
%%%/%%%%%%%/,,.,,,,,,,,,,,,,,,,,,,,,*((((/(###########(((,,,,,,,,,,,,,********,,,,,,***************%
%%%%%%%%%%#,,,,,,,,,,,,,,,,,,,,,,,,((((((#(##/#########(((,,,,,,,,,,,,********,,,,,****************%
%%%%/%%%%##,,,,,,,,,,,,,,,,,,,,,,/(((((((((######/###*((((,,,,,,,,,,,,******************************
%%%%%%%%%##,.,,,,,,,,,,,,,,,,,,,,,(((((((((####(#(((*(((((&*,,,,,,,,,,*********,,,,*****************
//%%%(%%%#/.,,,,,,,,..,,,,,,,,,,,,,(((((((#(##((#(/,,,,*&&&&//*,,,,,,**********,********************
/*%#%/%%%#.,,,*%///.,,*************,,(((#######((*(,,***(&&&*%///*,,,**********,,,,,,,,,,,,,,,,,,,,,
/*%//*%#%(,,///(((((/***********%//////&&&&@@@@&#&&(***%&#&&*%//////,**********,,,,,,,,,,,,,,,,,,,,,
*,///,%##,,*(/((((((%&,*********%////////&&&@@&&&&&*****&&&&*%/////**,*********,,,,,,,,,************
*&&*%,%#*,,//(((((((&&&(//**********%/////(&&/&&&&***&***&&&///////*,,*********,,,,,,,,,************
/&@@&/#(,,.//((((((&&&&&&////*****%/////////&&&&&&***&%***&&//////,,/**********,,,,,,,,,,,**********
/(&&&/#,,,*%%(((((#&&&&&&&*//*********%/////*&&&&***&&&(**,*%////,///,*********,,,,,,,,,,,,,,,,,,,,,
/*&&&/,,,.///(((((&&&&&&&&&*//*********%//////#&#**(&&&&****%/////////*#******,,,,,,,,,,,,,,,,,,,,,,
//&&&(,,,,////(((#&&&&&&&&&&(//*********%*%////****&&&&&&**%///////////(&&&&,,,*,,,,,,,,,,,,,,,,,,,,
//&&&,,..,////(((&&&&&&&&&&&&%//********%*%*%////*%&&&&&&&*%////////////&&&&****,,,,,,,,,,,,,,,,,,*/

/* --- DESKTOP STYLING ------------------------------------------------------------------------- */
@media (min-device-width : 768px) {
    :root {
        --nav-stripe-bar-width: 20%;
        --nav-stripe-bar-height: 24px;
        --nav-stripe-shadow-size: 10vmin;
        --landing-text-font-size: 3vw;
    }
    .landing-content {
        width: 20vw;
        height: 20vw;
        margin-top: calc(-10vw - 1vw);
        margin-left: calc(-10vw - 1vw);
        border-width: 1vw;
        box-shadow: 0px 0px 0px 6px #000;
        transition: box-shadow 1s;
        animation: unset;
    }
    .landing-text { /*the text seen when the circle is hovered over*/
        transition: color 200ms, top 3s, opacity 600ms;
        transition-delay: initial;
        animation: unset;
    }
    .nav-stripe { /*the horizontal stripe across the screen*/
        transition: background-color 1s, box-shadow 1s;
        animation: unset;
    }
    #lt-left {
        left: 15%;
        top: calc(48% - var(--landing-text-font-size));
    }
    #lt-right {
        right: 17%;
        top: 51%;
    }
  
    /* --- INTERACTIVITY --- */
    .landing-content:hover {
        box-shadow: 0px 0px 0px 6px var(--color-glow);
    }
    .landing-content:hover + .nav-stripe {
        background-color: var(--color-glow);
        box-shadow: 0px 0px 0px var(--nav-stripe-shadow-size) #000;
    }
    .landing-content:hover .landing-text {
        transition: color 1s, top 3s, opacity 600ms;
        // transition-delay: 500ms;
        color: white;
    }
}
  